In [62]:
# H0 - There is no relationship between the categorical variables
# H1 - There is a relationsip betweent he categorical variables

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import scipy.stats as stats

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic',
 'anagrams',
 'anagrams',
 'anscombe',
 'anscombe',
 'attention',
 'attention',
 'brain_networks',
 'brain_networks',
 'car_crashes',
 'car_crashes',
 'diamonds',
 'diamonds',
 'dots',
 'dots',
 'dowjones',
 'dowjones',
 'exercise',
 'exercise',
 'flights',
 'flights',
 'fmri',
 'fmri',
 'geyser',
 'geyser',
 'glue',
 'glue',
 'healthexp',
 'healthexp',
 'iris',
 'iris',
 'mpg',
 'mpg',
 'penguins',
 'penguins',
 'planets',
 'planets',
 'seaice',
 'seaice',
 'taxis',
 'taxis',
 'tips',
 'tips',
 'titanic',
 'titanic',
 'anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [6]:
ds = sns.load_dataset('tips')

In [7]:
ds.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
# the first step in a chi sq test is to pick up the categorical columns
ds_table = pd.crosstab(ds['sex'],ds['smoker'])

# cross tab creates a matrix as below

In [43]:
ds_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [46]:
obs_val = ds_table.values

In [12]:
value = stats.chi2_contingency(ds_table)

In [14]:
value

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [25]:
exp_value = value[3]

In [27]:
exp_value

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [28]:
# ds_table was the observed value while exp_value is the expected value

In [54]:
no_of_rows = len(ds_table.iloc[:2,0])
no_of_columns =len(ds_table.iloc[:,0:2])
dof = (no_of_rows-1)*(no_of_columns-1)
print('Degree of freedom: ', dof)
alpha = 0.05 
# alpha states that what percent of the data is not to be considered i.e. consider 95% of the distribution

# degree of freedom is a statistical measure that needs to be calculated for a chi square test

Degree of freedom:  1

In [55]:
# calculating chi sq
from scipy.stats import chi2
chi_sq = sum([(o-e)**2/e for o,e in zip(obs_val,exp_value)])
chi_sq_stat = chi_sq[0]+chi_sq[1]

In [56]:
chi_sq

array([0.00119737, 0.00073745])

In [57]:
chi_sq_stat

0.001934818536627623

In [58]:
critical_value = chi2.ppf(q=1-alpha,df = dof)

In [59]:
critical_value

3.841458820694124

In [60]:
# calculating p value
p_value = 1-chi2.cdf(x=chi_sq_stat,df =dof)
print ('p_value' , p_value)
print ('Significance level' , alpha)
print ('Degree of freedom' , dof)

p_value 0.964915107315732
Significance level 0.05
Degree of freedom 1

In [61]:
# since p value is greater than .05 (alpha), we can not reject the null hypothesis
# the chi sq stat should be greater than the critical value to have any relationship( to retain the null hypothesis)
# which is also not the case